body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #323232 !important;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-link {
    text-align: center;
    margin-top: 1rem;
}